:root{
    --color-background: #2B4074;
    --color-white: #FFFFFF;
    --color-gray-text: #4A4A4A;
    --color-light-gray-text: #9B9B9B;
}
body{
    font-family: 'Roboto Condensed';
    color: var(--color-white);
    
   
}

header {
    background-color: var(--color-background);
    /*width: 90%;*/
    /*max-width: 1440px;*/
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo {
    width: max 100px;
    /*margin-left: 100%;*/
}

#menu-button {
    width: 40px;
    height: 40px;
    border: 0px;
    padding: 0px;
    border-radius: 5px;
    /*margin-right: 40px;*/
}

.intro{
    background:
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(../images/bg-img.jpg) no-repeat;
    /*background-blend-mode: hard-light; /*или multiply;*/
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    position: relative;
}
.title{
    align-items: center;
    
}
.titleBlock{
    text-align: center;
}
button.owl-dot.active span {
    border: 1px solid;
}    
.owl-theme .owl-dots .owl-dot.active span{
    background: border-box;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    margin-bottom: 50px;
}
.title h1 {
    text-align: center;
    /*font-family: 'Roboto Condensed';*/
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 107px;
    margin-bottom: 20px;
}
.title h2 {
    /*font-family: 'Roboto Condensed';*/
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.buttonDetalis{
    width: 200px;
    height: 50px;
    background-color: var(--color-background);
    color: var(--color-white);
    margin-bottom: 5%;
    text-transform: uppercase;
    border: 0px;
}

.owl-nav, .pagination{
    position: absolute;
    top: 40%;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
    float: right;
    text-decoration: none;
    transition: white;
}
.owl-nav span, .pagination button{
    
    background-color: var(--color-white);
    color: darkgray;
    width: 70px;
    height: 70px;
    padding: 0px;
    margin: 1px;
    border: 0px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination button:hover {
    background: var(--color-background);
    color: white;
}
/*  
.points{
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 12px;
    margin-bottom: 79px;
    margin-left: auto;
    margin-right: auto;
}
.points div{
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    border: solid;
     
}
.point{
    background-color: var(--color-white);
}
.point-active {
    border: 1pxv var(--color-white);
    
}*/

.promo{
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10vw;

}
.promo h2{
    font-family: 'Roboto';
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
}
.promo p{
        font-family: 'Dosis';
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
}
.promo button{
    width: 200px;
    height: 50px;
    font-family:'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-background);
}

.services{
    color: var(--color-background);
    background-color: var(--color-white);
    padding-top: 90px;
    /*display: grid;
    grid-template-columns: 36% 64%;*/
    display: flex;
    justify-self: start;
}
.services-title {
    width: 33%;
    margin-left: 9vw;
}
.services-title h3{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px;
}
.services-title h4{
    
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
.line{
    background-color: var(--color-background);
    width: 98px;
    height: 8px;
}

.services-title p{
    font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #797979;
}

.services-items{
    column-count: 4;
    max-width: 66%;
  
}
.item{
    width: 221px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
        justify-content: space-around;
}
.services-items .item:hover{
    border: 4px solid var(--color-background);
    margin: 2px;
    width: 210px;
    height: 248px;

}
.services-items .item:hover .vizited{
    display: block;
}
.vizited{
    display: none;
}
.services-items h4 {
    color: var(--color-gray-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.services-items p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-light-gray-text);;
}
.services-items button{
    border: none;
    background: none;
    /*font-family: 'Roboto Condensed';*/
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-background);
}
.recent-work{
    /*background: linear-gradient(var(--color-background), white);*/
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-work h4 {
    color: var(--color-white);
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0px;
}
.recent-work .line{
    background-color: var(--color-white);
}
.recent-work .images{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
   /* font-family: 'Roboto Condensed';*/
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--color-background);
    position: relative;
}
.recent-work .image{
    margin: 80px 12px 20px 12px;
    width: 268px;
    height: 263px;
}

.recent-work .image:hover .overlap{
    display: block;
}

.overlap{
    display: none;
    background-color: white;
    border-radius: 5px;
    opacity: 50%;
    position: absolute;
    margin: 12px;
    width: 243px;
    height: 217px;
}
.overlap img{
    position: relative;
    margin-top: 100px;
}

.video-block {
  margin-top: -50px;
  padding: 80px 40px 70px 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.video-block img{
    max-width: 39%;  
    height: max-content;
}
.text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
    max-width: 40%;
}
.video-block h2{
    color: var(--color-gray-text);
    /*font-family: 'Roboto Condensed';*/
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0px;
}
.video-block p{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-light-gray-text);
}

.video-block button{
    width: 230px;
    height: 60px;
    color: var(--color-white);
    background-color: var(--color-background);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}
.latest-news{
    background-color: #F9F6E5;
    /*font-family: Roboto Condensed;*/
    color: var(--color-gray-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-news h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: center;

}
.news-content{
    column-count: 4;
    margin-top: 115px;
    margin-bottom: 80px;
}
.one-news{
    width: 269px;
    position: relative;
    margin-bottom: 35px;
    margin-top: -4px;
}
.one-news .img-news{
    border: 8px var(--color-white) solid;
    width: 254px;
    
}
.name-news{
    background-color: var(--color-white);
    width: 230px;
    height: 30px;
    position: absolute;
   /* font-family: 'Roboto Condensed';*/
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--color-gray-text);
    padding: 10px 20px;
    margin: 0px;
    bottom: 0px; 
}
.one-news:hover .name-news{
    background-color: var(--color-background);
    bottom: 35px;
    color: var(--color-white);
}
.one-news:hover .img-news{
    border: 8px var(--color-background) solid;
}
.info-news{
    display: none;
}
.one-news:hover .info-news {
    
    position: absolute;
    width: 100%;
    height: calc(100%-8px);
    background: #2B4074;
    opacity: 30%;
    border: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.img-icon{
    display: none;
    position: absolute;
    top: 40%;
    right: 42%;
}
.one-news:hover .img-icon{
    display: block;
}

.Testimonial{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2B4074;
}
blockquote {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-gray-text);
}
blockquote span{
    font-weight: 400;
    color: var(--color-background);
    font-weight: bold;
}

blockquote cite{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}

blockquote:before{
    content: U+0201D;
    vertical-align: top;
       /* font-family: 'FontAwesome';*/
        font-size: 100px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        color: var(--color-background);

}
.Testimonial .point{
    color: var(--color-background);
    background: var(--color-background);
}
.Testimonial .point-active {
    color: var(--color-background);
    background: var(--color-white);
}
i.fa-solid.fa-quote-right::before{
   color: var(--color-background);
}
footer{
    background-color: var(--color-background);
    margin-top: 50px;
    position: relative;
    padding-top: 1px;
  /*  display: flex;
    flex-direction: column;
    align-items: center;*/
    
    
}
footer h3{
    
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 5em;;
}
footer .logo{
    position: relative;
background-color: var(--color-background);
    width: 230px;
    height: 60px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.social-table{
   display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    /*padding: 15px;*/
    margin-left: 5em;
    margin-right: 5em;
    border-top: 1px var(--color-light-gray-text) solid;
    border-bottom: 1px var(--color-light-gray-text) solid;
   
.fa-brands {
    width: 25%;
    text-align: center;
    padding: 15px;
}
.fa-twitter, .fa-google-plus-g, .fa-pinterest{
    border-left: 1px solid var(--color-light-gray-text);
}


}
.social-info{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5em;
    margin-right: 5em;
}
.social-info a{
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}
div#end{
    background: #F9F6E5;
    color: var(--color-gray-text);
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: right;
    vertical-align: auto;
    position: relative;
    height: 22px;
    padding: 20px;
    text-decoration: none;
}

div#end a{
            text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .services{
        display: block;
    }
    .services-title {
        width: 100%;
    }
    .services-title h3{
        text-align: center;
    }
    .services-items{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .text-block{
        max-width: 55%;
    }
    .text-block h2{
        margin-bottom: 20px;
    }
    .news-content {
        column-count: 3;
    }
    .blockquote p{
        font-size: 32px;
        line-height: 38px;
    }
    .blockquote cite{
            font-size: 20px;
            line-height: 23px;
    }
}
@media only screen and (max-width: 768px) {
    .title h1{
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: center;
    }
    .owl-nav span{
        width: 40px;
        height: 40px;
    }
    .promo h2{
        line-height: 24px;
    }
    .services {
        display: block;
    }

    .services-title {
        width: fit-content;
    }

    .services-items {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    .recent-work{
        padding: 0px;
    }
    .recent-work .images{
        justify-content: center;
    }
    .latest-news h2{
        font-size: 36px;
        line-height: 38px;
    }
    .video-block{
            align-items: flex-start;
    }
    .video-block p{
        font-size: 16px;
        line-height: 24px;
    }
    .video-block button{
        margin-left: -20%;
    }
    .text-block{
        max-width: 75%;
        margin-left: 34px;
    }
    .text-block h2{
        font-size: 36px;
        line-height: 38px;
    }
    .news-content {
        column-count: 2;
        margin-bottom: 0px;
    }
    .blockquote{
        margin-left: 8px;
        margin-right: 8px;
    }
    .social-info div{
        width: 50%;
    }
}

@media only screen and (max-width: 640px) {
    .title h2{
        display: none;
    }
    .promo{
        flex-direction: column;
    }
    .promo h2, .promo p{
        text-align: center;
    }
    .services{
        padding-top: 20px;
    }
    .services-title{
        margin-left: 20px;
        margin-right: 20px;
    }
    .services-title h3, .services-title h4, .services-title p{
        text-align: center;
    }
    .services-title .line{
        margin-left: auto;
        margin-right: auto;
    }
    .recent-work .images{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .video-block {
        flex-wrap: wrap;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-block button{
        margin-left: 0px;
    }
    .video-block p{
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
    }
    .text-block{
    align-items: center;
    }
    .text-block h2{
        margin-top: 40px;
    }
    .video-block p {
    text-align: center;
    margin: 40px -5px 40px -5px;
    }
    .latest-news h2{
        font-size: 48px;
        line-height: 38px;
    }
    .blockquote{
        width: 60%;
    }
    footer h3{
        line-height: 26px;
    }
    /*
    .social-info div{
        padding-top: 20px;
        column-count: 2;
        text-align: center;
    }*/
}
@media only screen and (max-width: 320px) {
    header {
        padding-left: 25px;
        padding-right: 25px;
    }
    .title h1{
        font-size: 28px;
        line-height: 28px;
        margin-top: 36px;
    }
    .intro button{
        display: none;
    }
    .points{
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .promo h2{
        text-align: center;
    }
    .services-title p{
        font-size: 15px;
        line-height: 17px;
    }
    .recent-work h4{
        
        font-size: 24px;
        line-height: 28px;
    }
    .recent-work .line {
        width: 50px;
    }
    .recent-work .image{
        margin-top: 40px;
    }
    .text-block h2{
        font-size: 24px;
        line-height: 38px;
    }
    .video-block{
        padding: 20px;
        padding-top: 80px;
    }
    .latest-news h2{
        font-size: 24px;
        line-height: 38px;
    }
    .news-content{
        column-count: 1;
    }
    .blockquote {
        width: 100%;
    }
    .blockquote p{
        font-size: 24px;
        line-height: 28px;
    }
    footer h3{
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        padding-left: 0px;
    }
    .social-table{
        flex-direction: column;
        border: none;
        align-items: center;
    }
    .social-table .fa-twitter, .social-table .fa-google-plus-g, .social-table .fa-pinterest{
        border: none;
    }
    .social-info{
        margin: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .social-info div{
        margin-top: 20px;
    }
    div#end {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}